@charset "UTF-8";
/* ------------------------------------------------- *
 *        @mixin-module
 * ------------------------------------------------- */
/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 18px;
  line-height: 1.75;
  color: #444;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt" 1;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0px;
  padding: 0px;
  line-height: 1.75;
}

li {
  list-style-type: none;
}

.row-36 {
  margin-left: -18px;
  margin-right: -18px;
}
.row-36 > div {
  padding-right: 18px;
  padding-left: 18px;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #fffb00;
}

::selection {
  background: #fffb00;
}

::-moz-selection {
  background: #fffb00;
}

.dark-blue {
  color: #1470cc;
}

.light-blue {
  color: #0bafe6;
}

.mt10 {
  margin-top: 10px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt100 {
  margin-top: 100px;
}

.noto100 {
  font-weight: 100;
}

.noto300 {
  font-weight: 300;
}

.noto400 {
  font-weight: 400;
}

.noto500 {
  font-weight: 500;
}

.noto700 {
  font-weight: 700;
}

.noto900 {
  font-weight: 900;
}

/*
.palt{
	font-feature-settings : "palt";
}
.pkna{
	font-feature-settings : "pkna";
}
*/
h2 {
  font-size: 54px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
}

.h2-size-l {
  font-size: -webkit-calc(54px * 1.40);
  font-size: calc(54px * 1.40);
}

h3 {
  background-color: #fff;
  border-top: 3px solid #0bafe5;
  border-bottom: 3px solid #0bafe5;
  color: #32b4df;
  letter-spacing: 1.3px;
  font-size: 34px;
  line-height: 1.4;
  padding: 25px 0px;
}

h4 {
  background-color: #d9edff;
  font-size: 26px;
  margin-top: 40px;
  padding: 15px 0px;
}

.font-tit, .area-resolve .tit-resolve, .area-compare .tit-compare, .area-voice .tit-voice, .area-column .tit-column {
  font-size: 25px;
  margin-top: 30px;
  line-height: 1.2;
}

.font-txt, .area-resolve .txt-resolve, .area-compare .txt-compare, .area-voice .txt-voice, .area-column .txt-column, .area-column .txt-column2 {
  margin-top: 20px;
  line-height: 1.7;
}

.font-s {
  font-size: 11px;
  line-height: 1.5;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* ------------------------------------------------- *
 *        header-module
 * ------------------------------------------------- */
.area-header {
  background-color: #32b4df;
  padding: 30px 0px 75px 0px;
}
.area-header .bg-main-visual-pc {
  z-index: 1;
  position: relative;
}
.area-header .btn-contact-header {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
}

/* ------------------------------------------------- *
 *        problem-module
 * ------------------------------------------------- */
.area-problem {
  background: url(../../common/img/bg-problem.png) repeat;
  padding: 60px 0px 0px 0px;
}

/* ------------------------------------------------- *
 *        resolve-module
 * ------------------------------------------------- */
.area-resolve {
  background-color: #d9f5ff;
  padding: 60px 0px 110px 0px;
}
.area-resolve h2 {
  margin-bottom: 60px;
}
.area-resolve .txt-by-spoke {
  font-size: 26px;
}
.area-resolve .pos {
  left: 25%;
  position: absolute;
  left: 45%;
  -webkit-transform: translate(-50%, 0%);
  /* Safari */
  transform: translate(-50%, 0%);
  width: 100%;
}

/* ------------------------------------------------- *
 *        compare-module
 * ------------------------------------------------- */
.area-compare {
  padding: 60px 0px 60px 0px;
  /*
  .box-h3 {
  	z-index: 1;
  	position: relative;
  }
  .badge {
  	width: 148px;
  	height: 158px;
  	background: url(../../common/img/compare1.png) no-repeat;
  	z-index: 2;
  	position: absolute;
  	right: 0;
  	top: 0;
  	margin: -18px 20px 0px 0px;
  }
  .txt-badge {
  	font-size: 16px;
  	line-height: 22px;
  	letter-spacing: 0.5px;
  	margin: 40px 0px 0px 20px;
  	transform: rotate(12deg);
  }
  */
  /* for win ie6 */
  /* for win ie7 */
}
.area-compare h2 {
  margin-bottom: 40px;
}
.area-compare ul.list {
  margin-left: 1.5em;
}
.area-compare ul.list li {
  position: relative;
  list-style: none;
  line-height: 1.4;
  margin-bottom: 0.2em;
}
.area-compare ul.list li span {
  position: absolute;
  top: 0;
  left: -1.1em;
}
.area-compare * html ul.list li span {
  top: -0.1em;
}
.area-compare *:first-child + html ul.list li span {
  top: -0.1em;
}

/* ------------------------------------------------- *
 *        voice-module
 * ------------------------------------------------- */
.area-voice {
  background: url(../../common/img/bg-voice.png) repeat;
  padding: 60px 0px 70px 0px;
}
.area-voice h2 {
  margin-bottom: 60px;
}
.area-voice .tit-voice {
  margin-top: 0px;
}

/* ------------------------------------------------- *
 *        approach-module
 * ------------------------------------------------- */
.area-approach {
  padding-bottom: 100px;
  background-color: #32b4df;
  color: #fff;
}
.area-approach .col-sm-20 {
  background: url(../../common/img/bg-approach.png) no-repeat;
  background-position: top right;
}
.area-approach .midashi {
  margin-top: 100px;
  font-size: 60px;
  line-height: 1.50;
}

/* ------------------------------------------------- *
 *        column-module
 * ------------------------------------------------- */
.area-column {
  background: url(../../common/img/bg-voice.png) repeat;
  padding: 70px 0px 90px 0px;
}
.area-column .box-white {
  background: #fff;
  padding: 40px;
}
.area-column .tit-column {
  margin-top: 0px;
}
.area-column .txt-column {
  font-size: 22px;
  margin-top: 15px;
}
.area-column .txt-column2 {
  margin-top: 25px;
}

/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
footer {
  color: #fff;
}

.footer-navi {
  color: #444;
  text-align: center;
  padding: 40px 0px;
  border-bottom: 1px solid #ccc;
}
.footer-navi li {
  width: auto;
}
.footer-navi li a {
  color: #444;
}
.footer-navi li a:hover {
  text-decoration: none;
  color: #32b4df;
}
.footer-navi .inline {
  text-align: center;
}
.footer-navi .inline li {
  display: inline;
}
.footer-navi .inline li:after {
  padding: 0px 15px;
  content: "|";
}
.footer-navi .inline li:last-child:after {
  content: none;
  padding-right: 0px;
}

#gFooter {
  padding-bottom: 45px;
  position: relative;
  background-color: #fff;
}

#gFooter .pageTop {
  width: 41px;
  text-align: center;
  position: fixed;
  right: 35px;
  display: none;
  z-index: 10000;
  bottom: 69px;
}

#gFooter .fInner {
  margin-bottom: 50px;
  background-color: #EEE;
}

#gFooter .fBox {
  margin: 0 auto;
  padding: 50px 0 24px;
  width: 1000px;
}

#gFooter .fBox .fLogo {
  margin-bottom: 50px;
  text-align: center;
}

#gFooter .fBox .fNavi li {
  float: left;
  padding-right: 19px;
  width: 260px;
}

#gFooter .fBox .fNavi .liStyle {
  padding-right: 0;
  width: 190px;
}

#gFooter .fBox .fNavi .liStyle02 {
  width: 230px;
}

#gFooter .fBox .fNavi li ul li {
  float: none;
  padding: 0 0 34px;
  width: auto !important;
}

#gFooter .fBox .fNavi li ul li a {
  padding-left: 33px;
  display: inline-block;
  background: url(../img/icon04.gif) no-repeat left top;
}

#gFooter .fBox .fNavi li ul li ul {
  margin: 16px 0 -15px 7px;
}

#gFooter .fBox .fNavi li ul li ul li {
  padding: 0 0 5px;
}

#gFooter .fBox .fNavi li ul li ul li a {
  padding-left: 27px;
  font-size: 15px;
  background: url(../img/icon05.gif) no-repeat left 7px;
}

#gFooter .fLink {
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

#gFooter .fLink li {
  margin: 0 4px;
  display: inline;
  width: 40px;
  height: 40px;
}

#gFooter .fLink li img {
  display: inline;
  vertical-align: top;
}

/*
#gFooter .fLink li.fb {
	background: url(../img/facebook_over.png) no-repeat;
	background-position: top;
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
}
#gFooter .fLink li.fb a:hover img {
	visibility: hidden;

}
*/
#gFooter .copyright {
  color: #444;
  margin: 0 auto;
  width: 1000px;
  font-size: 12px;
  text-align: center;
}

#gFooter .spPageTop,
.spMenuBox {
  display: none;
}

#pagePath {
  margin: 0 auto 14px;
  width: 1000px;
}

#pagePath li {
  display: inline;
  font-size: 12px;
}

#pagePath li a {
  margin-right: 2px;
}

#gFooter .fLinkUl {
  margin: -20px auto 0;
  width: 1000px;
}

#gFooter .fLinkUl li {
  padding-right: 10px;
  float: left;
}

.fb_iframe_widget span iframe table,
.fb_iframe_widget span iframe,
.fb_iframe_widget span,
#gFooter ._51m- pls _51mw {
  /*	width: 70px !important; */
}

#sideBar .fb_iframe_widget span iframe table,
#sideBar .fb_iframe_widget span iframe,
#sideBar .fb_iframe_widget span {
  width: auto !important;
}

.fb_iframe_widget span {
  float: left !important;
}

#gFooter .fLinkUl02 {
  display: none;
}

.menuBox {
  display: none;
}

/* ------------------------------------------------- *
 *        tablet-module
 * ------------------------------------------------- */
@media screen and (max-width: 991px) {
  h3 {
    font-size: 29px;
    letter-spacing: 1.0px;
  }

  .area-header .btn-contact-header {
    bottom: -10px;
    right: 0px;
  }

  .area-compare ul.list li span {
    left: -1.2em;
  }

  #gFooter {
    padding-bottom: 0;
    position: relative;
  }

  #gFooter .pageTop {
    display: none !important;
  }

  #gFooter .fInner {
    margin-bottom: 0;
  }

  #gFooter .fBox {
    width: auto;
    padding: 24px 0 15px;
  }

  #gFooter .fBox .fLogo {
    margin: 0 auto;
    width: 35%;
  }

  #gFooter .fBox .fLogo img {
    width: 100%;
  }

  #gFooter .fBox .fNavi {
    display: none;
  }

  #gFooter .fLink {
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom: 15px;
    background-color: #EEEEEE;
  }

  #gFooter .copyright {
    padding-bottom: 20px;
    width: auto;
    font-size: 9px;
    background-color: #EEEEEE;
  }

  #gFooter .spPageTop {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
  }

  #gFooter .fLinkUl {
    display: none;
  }

  #gFooter .fLinkUl02 {
    margin: 0 auto 20px;
    width: 80%;
    display: none;
  }

  #gFooter .fLinkUl02 li {
    padding: 0 5px 0 0;
  }

  #gFooter .fLinkUl02 li:last-child {
    width: 20%;
  }
}
/* ------------------------------------------------- *
 *        smartphone-module
 * ------------------------------------------------- */
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 1.65;
  }

  .row-36 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .row-36 > div {
    padding-right: 0px;
    padding-left: 0px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 15px;
    letter-spacing: 1.0px;
  }

  .h2-size-l {
    font-size: -webkit-calc(32px * 1.40);
    font-size: calc(32px * 1.40);
  }

  /*
  h3 {
  	font-size: 26px;
  	letter-spacing: 1.0px;
  	line-height: 1.4;
  	padding: 15px 0px;
  }
  */
  h4 {
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 0px;
  }

  .mt100 {
    margin-top: 80px;
  }

  .txt-by-spoke {
    font-size: 22px;
  }

  .font-tit, .area-resolve .tit-resolve, .area-compare .tit-compare, .area-voice .tit-voice, .area-column .tit-column {
    font-size: 22px;
    line-height: 1.4;
  }

  .font-txt, .area-resolve .txt-resolve, .area-compare .txt-compare, .area-voice .txt-voice, .area-column .txt-column, .area-column .txt-column2 {
    margin-top: 15px;
  }

  .area-header {
    padding: 10px 0px 30px 0px;
  }
  .area-header .btn-contact-header {
    position: static;
    margin-top: 25px;
  }

  .area-problem {
    padding-top: 30px;
  }

  .area-resolve {
    padding: 50px 0px 60px 0px;
  }
  .area-resolve h2 {
    margin-bottom: 25px;
  }
  .area-resolve img {
    width: 80%;
  }
  .area-resolve .sp-L {
    padding-right: 10px;
  }
  .area-resolve .sp-R {
    padding-left: 10px;
  }
  .area-resolve .tit-resolve {
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.2;
  }
  .area-resolve .mt25 {
    margin-top: 35px;
  }
  .area-resolve .sp-mt {
    margin-top: 25px;
  }
  .area-resolve .mt100 {
    margin-top: 50px;
  }
  .area-resolve .mt70 {
    margin-top: 10px;
  }

  /*.area-compare {
  	.badge {
  		width: 148px;
  		height: 158px;
  		right: 0;
  		top: 0;
  		margin: -18px 0px 0px 0px;
  		-webkit-transform: scale(0.5);
  		-moz-transform: scale(0.5);
  	}
  	.txt-badge {
  		font-size: 16px;
  		line-height: 22px;
  		letter-spacing: 0.5px;
  		margin: 40px 0px 0px 20px;
  		transform: rotate(12deg);
  	}
  }*/
  .area-compare {
    padding: 50px 0px 50px 0px;
    /*
    .badge-sp {
    	width: 100px;
    	height: 107px;
    	background: url(../../common/img/compare1-sp.png) no-repeat;
    	margin: 0 auto;
    	margin-top: -55px;
    }
    .txt-badge {
    	font-size: 13.5px;
    	line-height: 20px;
    	padding: 23px 0px 0px 0px;
    	text-align: center;
    	color: #fff;
    }
    */
  }
  .area-compare h2 {
    margin-bottom: 0px;
  }
  .area-compare h4 {
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .area-compare .tit-compare {
    margin-top: 0px;
  }
  .area-compare .icon img {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
  }
  .area-compare img {
    margin-top: 0px;
  }
  .area-compare .text-right {
    text-align: left;
    margin-top: 10px;
  }
  .area-compare ul.list li span {
    left: -1.2em;
  }
  .area-compare .mt80 {
    margin-top: 60px;
  }
  .area-compare .font-s {
    margin-bottom: 20px;
  }

  .area-voice {
    padding: 40px 0px 50px 0px;
  }
  .area-voice h2 {
    margin-bottom: 40px;
  }
  .area-voice .tit-voice {
    margin-top: 20px;
  }

  .area-approach {
    padding-bottom: 70px;
  }
  .area-approach .col-sm-20 {
    background-size: 80%;
  }
  .area-approach .midashi {
    margin-top: 100px;
    font-size: 39px;
    line-height: 1.50;
  }

  .area-column {
    padding: 70px 0px 60px 0px;
  }
  .area-column .box-white {
    padding: 30px;
  }
  .area-column .box-txt {
    padding-left: 0px;
  }
  .area-column .tit-column {
    margin-top: 20px;
  }
  .area-column .txt-column {
    font-size: 22px;
    margin-top: 10px;
  }
  .area-column .txt-column2 {
    margin-top: 15px;
  }

  .footer-navi .inline li {
    display: block;
  }
  .footer-navi .inline li:after {
    padding: 0px 0px;
    content: "";
  }
  .footer-navi .inline li:before {
    padding: 0px 0px;
    content: "> ";
  }
}
/*
visible-xs
col-sm-14 col-sm-offset-5
xs sm md lg

//////link tag
img {
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
}
a:hover img, a:active img {
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a {
	display: block;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
	&:link {color: #000;}
	&:visited {color: #000;}
	&:hover {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
	&:active {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
}

@extend .font-average;

//スモールPC
@media screen and (max-width:1199px) {
}
//タブレット
@media screen and (max-width:991px) {
}
//スマホ
@media screen and (max-width:767px) {
}
*/
