@charset "UTF-8";
/* ------------------------------------------------- *
 *        @mixin-module
 * ------------------------------------------------- */
/* Mixin */
/*
@mixin mixin-tit-promotion-area($size) {
	background: #fff;
	width: $size;
	margin: 0 auto;
}
@mixin link-transfer {
	color: #000;
	display: block;

	-webkit-transition-duration: 1.5s;
	transition-duration: 1.5s;

	&:hover {
		filter:alpha(opacity=50);
		-moz-opacity: 0.50;
		opacity: 0.50;
		text-decoration: none;
	}
}

@mixin bg-image-cover($padding-size:70px) {
	-moz-background-size:cover;
	background-size:cover;
	padding-top: $padding-size;
}
@mixin border-radius($property:none){
	border-radius: $property;
	-webkit-border-radius: $property;
	-moz-border-radius: $property;
}
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin position($position:static,$top:auto,$right:auto,$bottom:auto,$left:auto,$z-index:0) {
  position:$position;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
  z-index:$z-index;
}
@mixin transform($property:none){
    transform:$property;
    -webkit-transform:$property;
    -moz-transform:$property;
    -o-transform:$property;
    -ms-transform:$property;
}
@mixin transition($property:none){
    transition:$property;
    -webkit-transition:$property;
    -moz-transition:$property;
    -o-transition:$property;
}
*/
/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 18px;
  line-height: 1.75;
  color: #444;
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0px;
  padding: 0px;
  line-height: 1.75;
}

/*
li {
	list-style-type: none;
}
*/
/*gridのgutter調整*/
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.no-gutters > [class^="col-"], .no-gutters > [class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.row-36 {
  margin-left: -18px;
  margin-right: -18px;
}
.row-36 > div {
  padding-right: 18px;
  padding-left: 18px;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #32b4df;
}

::selection {
  background: #32b4df;
}

::-moz-selection {
  background: #32b4df;
}

.dark-blue {
  color: #1470cc;
}

.light-blue {
  color: #0bafe6;
}

.mt10 {
  margin-top: 10px;
}

.mt25 {
  margin-top: 25px;
}

.mt70 {
  margin-top: 70px;
}

.mt100 {
  margin-top: 100px;
}

.noto100 {
  font-weight: 100;
}

.noto300 {
  font-weight: 300;
}

.noto400 {
  font-weight: 400;
}

.noto500 {
  font-weight: 500;
}

.noto700 {
  font-weight: 700;
}

.noto900 {
  font-weight: 900;
}

h2 {
  font-size: 54px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
}

.h2-size-l {
  font-size: -webkit-calc(54px * 1.40);
  font-size: calc(54px * 1.40);
}

h3 {
  background-color: #fff;
  border-top: 3px solid #0bafe5;
  border-bottom: 3px solid #0bafe5;
  color: #32b4df;
  letter-spacing: 1.3px;
  font-size: 34px;
  line-height: 1.4;
  padding: 20px 0px;
}

/* ------------------------------------------------- *
 *        header-module
 * ------------------------------------------------- */
.area-header {
  background-color: #32b4df;
  padding: 78px 0px 81px 0px;
}
.area-header .bg-main-visual-pc {
  z-index: 1;
  position: relative;
}
.area-header .btn-contact-header {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
}

/* ------------------------------------------------- *
 *        problem-module
 * ------------------------------------------------- */
.area-problem {
  background: url(../../common/img/bg1.png) repeat;
  padding-top: 60px;
}

/* ------------------------------------------------- *
 *        resolve-module
 * ------------------------------------------------- */
.area-resolve {
  background-color: #d9f5ff;
  padding: 60px 0px 110px 0px;
}
.area-resolve h2 {
  margin-bottom: 60px;
}
.area-resolve .tit-resolve {
  font-size: 26px;
  margin-top: 30px;
  line-height: 1.2;
}
.area-resolve .txt-resolve {
  margin-top: 20px;
}
.area-resolve .txt-by-spoke {
  font-size: 26px;
}
.area-resolve .pos {
  left: 25%;
  position: absolute;
  left: 45%;
  -webkit-transform: translate(-50%, 0%);
  /* Safari */
  transform: translate(-50%, 0%);
  width: 100%;
}

/* ------------------------------------------------- *
 *        tablet-module
 * ------------------------------------------------- */
@media screen and (max-width: 991px) {
  .area-header .btn-contact-header {
    bottom: -10px;
    right: 0px;
  }
}
/* ------------------------------------------------- *
 *        smartphone-module
 * ------------------------------------------------- */
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 1.65;
  }

  .row-36 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .row-36 > div {
    padding-right: 0px;
    padding-left: 0px;
  }

  h2 {
    font-size: 42px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 32px;
  }

  .h2-size-l {
    font-size: -webkit-calc(27px * 1.40);
    font-size: calc(27px * 1.40);
  }

  .area-header {
    padding: 10px 0px 30px 0px;
  }
  .area-header .btn-contact-header {
    position: static;
    margin-top: 25px;
  }

  .area-problem {
    padding-top: 30px;
  }

  .area-resolve {
    padding: 60px 0px 70px 0px;
  }
  .area-resolve h2 {
    margin-bottom: 25px;
  }
  .area-resolve img {
    width: 80%;
  }
  .area-resolve .sp-L {
    padding-right: 10px;
  }
  .area-resolve .sp-R {
    padding-left: 10px;
  }
  .area-resolve .tit-resolve {
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.2;
  }
  .area-resolve .mt25 {
    margin-top: 35px;
  }
  .area-resolve .sp-mt {
    margin-top: 25px;
  }
  .area-resolve .mt100 {
    margin-top: 70px;
  }
  .area-resolve .mt70 {
    margin-top: 0px;
  }
  .area-resolve .img-R {
    margin-left: 25px;
  }
}
/*
visible-xs
col-sm-14 col-sm-offset-5
xs sm md lg

//////link tag
img {
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
}
a:hover img, a:active img {
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a {
	display: block;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
	&:link {color: #000;}
	&:visited {color: #000;}
	&:hover {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
	&:active {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
}

@extend .font-average;

//スモールPC
@media screen and (max-width:1199px) {
}
//タブレット
@media screen and (max-width:991px) {
}
//スマホ
@media screen and (max-width:767px) {
}
*/
/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
footer {
  margin-top: 80px;
  color: #fff;
}

.footer-navi {
  background-color: #32b4df;
  text-align: center;
  padding: 60px 0px;
}
.footer-navi li {
  width: auto;
}
.footer-navi li a {
  color: #fff;
}
.footer-navi li a:hover {
  text-decoration: none;
  color: #32b4df;
}
.footer-navi .inline {
  text-align: center;
}
.footer-navi .inline li {
  display: inline;
}
.footer-navi .inline li:after {
  padding: 0px 15px;
  content: "|";
}
.footer-navi .inline li:last-child:after {
  content: none;
  padding-right: 0px;
}
