@charset "UTF-8";

/* ------------------------------------------------- *
 *        @mixin-module
 * ------------------------------------------------- */
@mixin opacity($property:0,$propertyIE:0){
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$propertyIE})";
    filter: alpha(opacity=$propertyIE);
    -moz-opacity: $property;
    -khtml-opacity: $property;
    opacity: $property;
}


/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
$path-img: '../../common/img/';
$blue:#32b4df;
$dark-blue:#1470cc;
$light-blue:#0bafe6;
$pale-blue:#d9f5ff;


//@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
    height: 100%;
}
body {
 	background: #fff;
 	font-size: 18px;
 	line-height: 1.75;
	color: #444;
	font-family: 'Noto Sans JP', sans-serif;
	font-feature-settings : "palt" 1;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	padding:0px;
	line-height: 1.75;
}

li {
	list-style-type: none;
}

.row-36{
	margin-left:-18px;
	margin-right:-18px;
	> div{
		padding-right:18px;
		padding-left:18px;
	}
}

a {
	text-decoration: none;
}

//テキスト選択時
::-moz-selection {
	background: $blue;
}
::selection {
	background: $blue;
}
::-moz-selection {
	background: $blue;
}

.dark-blue {
	color: $dark-blue;
}
.light-blue {
	color: $light-blue;
}

.mt10 {margin-top: 10px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt100 {margin-top: 100px;}

.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

/*
.palt{
	font-feature-settings : "palt";
}
.pkna{
	font-feature-settings : "pkna";
}
*/

h2 {
	font-size: 54px;
	line-height: 1.4;
	letter-spacing: 1.2px;
	margin-bottom: 50px;
}
.h2-size-l {
	font-size: -webkit-calc(54px * 1.40) ;
	font-size: calc(54px * 1.40) ;
}
h3 {
	background-color: #fff;
	border-top: 3px solid #0bafe5;
	border-bottom: 3px solid #0bafe5;
	color: $blue;
	letter-spacing: 1.3px;
	font-size: 34px;
	line-height: 1.4;
	padding: 25px 0px;
}
h4 {
	background-color: #d9edff;
	font-size: 26px;
	margin-top: 40px;
	padding: 15px 0px;
}

.font-tit {
	font-size: 26px;
	margin-top: 30px;
	line-height: 1.2;
}
.font-txt {
	margin-top: 20px;
	line-height: 1.7;
}
.font-s {
	font-size: 11px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* ------------------------------------------------- *
 *        header-module
 * ------------------------------------------------- */
.area-header {
	background-color: $blue;
	padding: 30px 0px 75px 0px;

	.bg-main-visual-pc {
		z-index: 1;
		position: relative;
	}
	.btn-contact-header {
		z-index: 2;
		position: absolute;
		width: 100%;
		bottom: 0px;
		right: 0px;
	}
}



/* ------------------------------------------------- *
 *        problem-module
 * ------------------------------------------------- */
.area-problem {
	background: url(#{$path-img}bg-problem.png) repeat;
	padding: 60px 0px 0px 0px;
}


/* ------------------------------------------------- *
 *        resolve-module
 * ------------------------------------------------- */
.area-resolve {
	background-color: $pale-blue;
	padding: 60px 0px 110px 0px;

	h2 {
		margin-bottom: 60px;
	}
	.tit-resolve {
		@extend .font-tit;
	}
	.txt-resolve {
		@extend .font-txt;
	}
	.txt-by-spoke {
		font-size: 26px;
	}
	.pos {
		left: 25%;

		position: absolute;
		left: 45%;
		-webkit-transform: translate(-50%, 0%); /* Safari */
		transform: translate(-50%, 0%);
		width: 100%;
	}
}


/* ------------------------------------------------- *
 *        compare-module
 * ------------------------------------------------- */
.area-compare {
	padding: 60px 0px 60px 0px;
	h2 {
		margin-bottom: 40px;
	}
	.box-h3 {
		z-index: 1;
		position: relative;
	}
	.badge {
		width: 148px;
		height: 158px;
		background: url(#{$path-img}compare1.png) no-repeat;
		z-index: 2;
		position: absolute;
		right: 0;
		top: 0;
		margin: -18px 20px 0px 0px;
	}
	.txt-badge {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.5px;
		margin: 40px 0px 0px 20px;
		transform: rotate(12deg);
	}

	.tit-compare {
		@extend .font-tit;
	}
	.txt-compare {
		@extend .font-txt;
	}

	ul.list {
		margin-left: 1.5em;
	}
	ul.list li {
		position: relative;
		list-style: none;
		line-height: 1.4;
		margin-bottom: 0.2em;
	}
	ul.list li span {
		position: absolute;
		top: 0;
		left: -1.7em;
	}
	* html ul.list li span { top: -0.1em; } /* for win ie6 */
	*:first-child+html ul.list li span { top: -0.1em; } /* for win ie7 */
}



/* ------------------------------------------------- *
 *        voice-module
 * ------------------------------------------------- */
.area-voice {
	background: url(#{$path-img}bg-voice.png) repeat;
	padding: 60px 0px 70px 0px;
	h2 {
		margin-bottom: 60px;
	}
	.tit-voice {
		@extend .font-tit;
		margin-top: 0px;
	}
	.txt-voice {
		@extend .font-txt;
	}
}

.area-column {
	background: url(#{$path-img}bg-voice.png) repeat;
	padding: 70px 0px 90px 0px;
	.box-white {
		background: #fff;
		padding: 40px;
	}
	.box-txt {
		//padding-left: 20px;
	}
	.tit-column {
		@extend .font-tit;
		margin-top: 0px;
	}
	.txt-column {
		font-size: 22px;
		@extend .font-txt;
		margin-top: 15px;
	}
	.txt-column2 {
		@extend .font-txt;
		margin-top: 25px;
	}
}



/* ------------------------------------------------- *
 *        approach-module
 * ------------------------------------------------- */
.area-approach {
	padding-bottom: 100px;
	.col-sm-20 {
		background: url(#{$path-img}bg-approach.png) no-repeat;
		background-position: top right;
	}
	background-color: $blue;
	color: #fff;

	.midashi {
		margin-top: 100px;
		font-size: 60px;
		line-height: 1.50;
	}
}




/* ------------------------------------------------- *
 *        tablet-module
 * ------------------------------------------------- */
@media screen and (max-width:991px) {
	//header-module
	.area-header {
		.btn-contact-header {
			bottom: -10px;
			right: 0px;
		}
	}
}


/* ------------------------------------------------- *
 *        smartphone-module
 * ------------------------------------------------- */
@media screen and (max-width:767px) {
	//common-module
	body {
		font-size: 16px;
		line-height: 1.65;
	}
	.row-36 {
		margin-left:0px;
		margin-right:0px;
		> div{
			padding-right:0px;
			padding-left:0px;
		}
	}
	h2 {
		font-size: 42px;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 32px;
	}
	.h2-size-l {
		font-size: -webkit-calc(27px * 1.40) ;
		font-size: calc(27px * 1.40) ;
	}
	.font-tit {
		font-size: 24px;
		line-height: 1.2;
	}
	//header-module
	.area-header {
		padding: 10px 0px 30px 0px;
		.btn-contact-header {
			position: static;
			margin-top: 25px;
		}
	}

	//problem-module
	.area-problem {
		padding-top: 30px;
	}

	//resolve-module
	.area-resolve {
		padding: 60px 0px 70px 0px;
		h2 {
			margin-bottom: 25px;
		}
		& img {
			width: 80%;
		}
		.sp-L {
			padding-right: 10px;
		}
		.sp-R {
			padding-left: 10px;
		}
		.tit-resolve {
			font-size: 22px;
			margin-top: 20px;
			line-height: 1.2;
		}
		.mt25 {
			margin-top: 35px;
		}
		.sp-mt {
			margin-top: 25px;
		}
		.mt100 {
			margin-top: 70px;
		}
		.mt70 {
			margin-top: 0px;
		}
	}

	//compare-module
	.area-compare {
		.badge {
			width: 148px;
			height: 158px;
			right: 0;
			top: 0;
			margin: -18px 0px 0px 0px;
			-webkit-transform: scale(0.5);
			-moz-transform: scale(0.5);
		}
		.txt-badge {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.5px;
			margin: 40px 0px 0px 20px;
			transform: rotate(12deg);
		}
	}
}



//////bootstrap tag
/*
visible-xs
col-sm-14 col-sm-offset-5
xs sm md lg

//////link tag
img {
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
}
a:hover img, a:active img {
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a {
	display: block;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
	&:link {color: #000;}
	&:visited {color: #000;}
	&:hover {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
	&:active {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
}

@extend .font-average;

//スモールPC
@media screen and (max-width:1199px) {
}
//タブレット
@media screen and (max-width:991px) {
}
//スマホ
@media screen and (max-width:767px) {
}
*/






/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
footer {
	//margin-top: 80px;
	color: #fff;
}

//footer-navi
.footer-navi {
	color: #444;
	text-align: center;
	padding: 40px 0px;
	border-bottom: 1px solid #ccc;

	& li {
		width: auto;
	}
	& li a {
		color: #444;
	}
	& li a:hover {
		text-decoration: none;
		color: $blue;
	}

	.inline {
		text-align: center;
		& li {
			display: inline;
		}
		& li:after {
			padding: 0px 15px;
			content:"|";
		}
		& li:last-child:after {
			content:none;
			padding-right: 0px;
		}
	}
}



#gFooter {
	padding-bottom: 45px;
	position: relative;
	background-color: #fff;
}

#gFooter .pageTop {
	width: 41px;
	text-align: center;
	position: fixed;
	right: 35px;
	display: none;
	z-index: 10000;
	bottom: 69px;
}

#gFooter .fInner {
	margin-bottom: 50px;
	background-color: #EEE;
}

#gFooter .fBox {
	margin: 0 auto;
	padding: 50px 0 24px;
	width: 1000px;
}

#gFooter .fBox .fLogo {
	margin-bottom: 50px;
	text-align: center;
}

#gFooter .fBox .fNavi li {
	float: left;
	padding-right: 19px;
	width: 260px;
}

#gFooter .fBox .fNavi .liStyle {
	padding-right: 0;
	width: 190px;
}

#gFooter .fBox .fNavi .liStyle02 {
	width: 230px;
}

#gFooter .fBox .fNavi li ul li {
	float: none;
	padding: 0 0 34px;
	width: auto !important;
}

#gFooter .fBox .fNavi li ul li a {
	padding-left: 33px;
	display: inline-block;
	background: url(../img/icon04.gif) no-repeat left top;
}

#gFooter .fBox .fNavi li ul li ul {
	margin: 16px 0 -15px 7px;
}

#gFooter .fBox .fNavi li ul li ul li {
	padding: 0 0 5px;
}

#gFooter .fBox .fNavi li ul li ul li a {
	padding-left: 27px;
	font-size: 15px;
	background: url(../img/icon05.gif) no-repeat left 7px;
}

#gFooter .fLink {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

#gFooter .fLink li {
	margin: 0 4px;
	display: inline;
}

#gFooter .fLink li img {
	display: inline;
	vertical-align: top;
}

#gFooter .copyright {
	color: #444;
	margin: 0 auto;
	width: 1000px;
	font-size: 12px;
	text-align: center;
}

#gFooter .spPageTop,
.spMenuBox {
	display: none;
}

#pagePath {
	margin: 0 auto 14px;
	width: 1000px;
}

#pagePath li {
	display: inline;
	font-size: 12px;
}

#pagePath li a {
	margin-right: 2px;
}

#gFooter .fLinkUl {
	margin: -20px auto 0;
	width: 1000px;
}

#gFooter .fLinkUl li {
	padding-right: 10px;
	float: left;
}

.fb_iframe_widget span iframe table,
.fb_iframe_widget span iframe,
.fb_iframe_widget span,
#gFooter ._51m- pls _51mw {
/*	width: 70px !important; */
}

#sideBar .fb_iframe_widget span iframe table,
#sideBar .fb_iframe_widget span iframe,
#sideBar .fb_iframe_widget span{
	width: auto !important;
}


.fb_iframe_widget span {
	float: left !important;
}	

#gFooter .fLinkUl02 {
	display: none;
}

.menuBox {
	display: none;
}
